<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--Аппендеры -->

	<!--Консольный аппендер -->
	<appender name="sout" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>error</level>
			<onMatch>DENY</onMatch>
		</filter>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<!--Файловый аппендер -->
	<appender name="file" class="ch.qos.logback.core.FileAppender">
		<file>log.log</file>
		<append>true</append>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>debug</level>
			<onMatch>DENY</onMatch>
		</filter>
		<encoder>
			<Pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</Pattern>
		</encoder>
	</appender>

	<!-- Логгеры -->
	<!-- Корневой логгер -->
	<root level="info">
		<appender-ref ref="file" />
	</root>

	<!-- Логгер нашего класса -->
	<logger name="TWClient.main.src" additivity="false">
		<appender-ref ref="sout" />
	</logger>

	<logger name="TWClient.main.src" level="info" additivity="true">
		<appender-ref ref="file" />
	</logger>

</configuration>